RewriteEngine On

RewriteCond %{REQUEST_FILENAME} ".ini" [OR]
RewriteCond %{REQUEST_FILENAME} ".sql" 
RewriteRule ^(.*)$ - [F,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?ulr=$1 [QSA,L]

